## (1) Data Description:

In [34]:
#load necessary libraries
library(tidyverse)
library(repr)
library(tidymodels)

#load data into notebook
sessions <- read_csv("data/sessions.csv")
players <- read_csv("data/players.csv")

#summary statistics of sessions
head(sessions)

total_observations_sessions <- nrow(sessions) #total observations in dataset
total_observations_sessions




#Description of players.csv dataset follows
head(players)

total_observations_players <- nrow(players) #total observations in dataset
total_observations_players


#proportion of sbscribed players
subscribed <- players |>
        group_by(subscribe) |>
        summarize(count = n()) |>
        mutate(proportion = count /total_observations_players)
subscribed


#proportion of players of each experience level
experience <- players |>
        group_by(experience) |>
        summarize(count = n()) |>
        mutate(proportion = count /total_observations_players)
experience    


#proportion of players of each gender identity
gender <- players |>
        group_by(gender) |>
        summarize(count = n()) |>
        mutate(proportion = count /total_observations_players)
gender    


#Summary stats for Age and played_hours in a dataframe
summary_stats_players <- players |>
        select(played_hours, Age) |>
        mutate(max_age = max(Age, na.rm=TRUE)) |>
        mutate(mean_age = mean(Age, na.rm=TRUE)) |>
        mutate(min_age = min(Age, na.rm=TRUE)) |>
        mutate(max_hours_played = max(played_hours, na.rm=TRUE)) |>
        mutate(mean_hours_played = mean(played_hours, na.rm=TRUE)) |>
        mutate(min_hours_played = min(played_hours, na.rm=TRUE)) |>
        select(-Age, -played_hours) |>
        slice(1) |>
        round(2)
summary_stats_players

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

[1] 196

  subscribe count proportion
1 FALSE      52   0.2653061
2  TRUE     144   0.7346939

  experience count proportion
1 Amateur    63    0.32142857
2 Beginner   35    0.17857143
3 Pro        14    0.07142857
4 Regular    36    0.18367347
5 Veteran    48    0.24489796

  gender            count proportion
1 Agender             2   0.010204082
2 Female             37   0.188775510
3 Male              124   0.632653061
4 Non-binary         15   0.076530612
5 Other               1   0.005102041
6 Prefer not to say  11   0.056122449
7 Two-Spirited        6   0.030612245

  max_age mean_age min_age max_hours_played mean_hours_played min_hours_played
1 58      21.14    9       223.1            5.85              0

THIS IS A MARKDOWN CELL TO DESCRIBE THE ABOVE ANALYSIS

## (2) Questions:

Question 1 (Broad): What player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how do these features differ between various player types?

Question 2 (directed): Can player gender and player experience predict whether the player will subscribe in players.csv?

## (3) Exploratory Data Analysis and Visualization

## (4) Methods and Plan

WRITE THINGS HERE!